.header{
    background-color: #fcfcfc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 80%;
    margin: auto;
}

.header-container img {
    width: 100px;
}

.header-container nav ul {
    display: flex;
    gap: 20px;
}

.header-container nav ul li a {
    color: #005796;
    font-weight: 900;
}